<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>To Do List app</title>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
</head>

<body class="bg-gray-50">
{{ include('partials/navbar.html.twig') }}

<!-- Page Content -->
<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-8 space-y-4">
    <div class="w-full flex justify-between gap-2">
        {{ component('button-link', {href: path('user_create'), text: 'Créer un utilisateur' }) }}

        {% if app.user %}
            {{ component('button-link', {href: path('logout'), text: 'Se déconnecter', color: 'red' }) }}
        {% endif %}

        {% if not app.user and 'login' != app.request.attributes.get('_route') %}
            {{ component('button-link', {href: path('login'), text: 'Se connecter', color: 'green' }) }}
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="bg-green-200 text-green-900 rounded px-6 py-4 my-4" role="alert">
                    <strong>Superbe !</strong> {{ flash_message }}
                </div>
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger" role="alert">
                    <strong>Oops !</strong> {{ flash_message }}
                </div>
            {% endfor %}

            {% block header_title %}{% endblock %}
            {% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}"
                                       alt="todo list">{% endblock %}
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            {% block body %}{% endblock %}
        </div>
    </div>
</main>
<!-- /.container -->

{{ include('partials/footer.html.twig') }}
</body>
</html>
