{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_create')}) }}
        {{ form_widget(form) }}

        <div class="w-full flex justify-end">
            {{ component('button', {text: 'Ajouter', color: 'green', type: 'submit'}) }}
        </div>
        {{ form_end(form) }}

        {{ component('button-link', {href: path('task_list'), text: 'Retour à la liste des tâches'}) }}
    </div>
{% endblock %}
